---
title: "Browse by Tag"
layout: layouts/base.njk
permalink: "/tags/"
---

{% block content %}
<section class="tags">
  <h1 class="section-heading">Browse by Tag</h1>
  <ul class="tag-list">
    {% for tag in collections.allTags %}
      <li>
        <a href="/tags/{{ tag | slug }}/">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}