---
pagination:
  data: collections.entries
  size: 1000
  alias: tag
  filter: (entry) => entry.data.tags && entry.data.tags.includes(tag)
permalink: "/tags/{{ tag | slug }}/"
tags: tagPage
layout: layouts/base.njk
---

{% extends "layouts/base.njk" %}

{% block content %}
<section class="tags">
  <h1 class="section-heading">Browse by Tag</h1>
  <ul class="tag-list">
    {% for tag in collections.allTags %}
      <li>
        <a href="/tags/{{ tag | slug }}/">{{ tag }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}