---
pagination:
  data: collections.entries
  size: 1
  alias: entry
  filter: tag
permalink: "/tags/{{ tag | slug }}/"
tags: tagPage
layout: layouts/base.njk
---

{% extends "layouts/base.njk" %}

{% block content %}
<section class="tag-block">
  <h1 class="tag-name">{{ tag }}</h1>
  <ul class="tag-entries">
    {% for post in collections.entries | filter(p => p.data.tags.includes(tag)) %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        <div class="entry-date">{{ post.date | readableDate }}</div>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}