---
pagination:
  data: collections.allTags
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slug }}/"
layout: layouts/base.njk
---

{% extends "layouts/base.njk" %}

{% block content %}
<section class="tag-block">
  <h1 class="tag-name">{{ tag }}</h1>
  <ul class="tag-entries">
    {% for post in collections.entries %}
  {% if post.data.tags and post.data.tags.indexOf(tag) != -1 %}
    <li>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
      <div class="entry-date">{{ post.date | readableDate }}</div>
    </li>
  {% endif %}
{% endfor %}
  </ul>
</section>
{% endblock %}