{% extends "layouts/base.njk" %}

{% block content %}
<section class="entry-archive">
  <h1 class="section-heading">All Reflections</h1>
  <ul class="entry-feed">
    {% for entry in collections.entries | reverse %}
    <li class="entry-preview">
      <div class="entry-container">
        <a href="{{ entry.url }}">
          <div class="cover-wrapper">
            <img src="{{ entry.data.image }}" alt="Image for {{ entry.data.title }}" class="entry-thumb">
          </div>
        </a>
        <h3 class="entry-title">
          <a href="{{ entry.url }}">{{ entry.data.title }}</a>
        </h3>
        <p class="entry-date">{{ entry.date | date("MMMM d, yyyy") }}</p>
        <p class="entry-excerpt">
          {{ entry.templateContent | stripHtml | limitWords(40) }}
        </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
